{% extends 'content_template.html' %}
{% block title %}
    Hello world with Web Frontend!!
{% endblock %}

{% block main_purpose %}
The main purpose of this one is to help me understanding this project.
{% endblock %}

{% block descr %}
Bla bla bla
{% endblock %}

{% block usage %}
It does nothing, <mark>for now</mark>
{% endblock %}

{% block limitations %}
My code does not have limitation!
{% endblock %}

{% block author %}
Gabor Kis-Hegedus
{% endblock %}

{% block version %}
0.1
{% endblock %}

{% block tags %}
xcke
{% endblock %}

{% block script_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Inputs</h3>
                                        <!-- FORM -->
                    <form data-toggle="validator" role="form" method="post"> <!-- validation form http://1000hz.github.io/bootstrap-validator/ -->
                        <label class="control-label requiredField" for="message">
                                Please provide a message!
                        </label>
                        <textarea class="form-control" rows="3" placeholder="What's up?" id="message" name="message" required></textarea>
                            <div class="help-block with-errors">
                            </div>
                        <button class="btn btn-primary" id="submit_form" name="submit" type="button">
                            Submit
                        </button>
                    </form>

                </div>
                <div class="panel-body">
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Output</h3>
                </div>
                <div class="panel-body">
                    <textarea class="form-control" rows="3" placeholder="What's up?" id="output_div">

                    </textarea>
                            <div class="help-block with-errors">
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block added_js %}
<script src="{{ url_for('hello_world.static', filename='hello_world.js') }}"></script>
{% endblock %}