{% extends 'content_template.html' %}
{% block title %}
    Hello world with Web Frontend!!
{% endblock %}

{% block main_purpose %}
The main purpose of this one is to help me understanding this project.
{% endblock %}

{% block descr %}
Bla bla bla
{% endblock %}

{% block usage %}
It does nothing, <mark>for now</mark>
{% endblock %}

{% block limitations %}
My code does not have limitation!
{% endblock %}

{% block author %}
Gabor Kis-Hegedus
{% endblock %}

{% block version %}
0.1
{% endblock %}

{% block tags %}
xcke
{% endblock %}

{% block script_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Inputs</h3>
                </div>
                <div class="panel-body">
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Output</h3>
                </div>
                <div class="panel-body" id="output_div">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block added_js %}
<!-- nothing here for the moment -->
{% endblock %}